/Chatbot/.idea
/Chatbot/venv
.idea
__pycache__
/ArtBot/models/*.gz
art.db
Thumbs.db
/Dokumentation/Latex/*.log
/Dokumentation/Latex/*.txss
/Dokumentation/Latex/*.blg
/Dokumentation/Latex/*.out
/Dokumentation/Latex/*.run.xml
/Dokumentation/Latex/*.gz
/Dokumentation/Latex/*.toc
/Dokumentation/Latex/*.bib
/Dokumentation/Latex/*.bbl
/Dokumentation/Latex/*.aux
/Seminar/*.log
/Seminar/*.blg
/Seminar/*.out
/Seminar/*.run.xml
/Seminar/*.gz
/Seminar/*.toc
/Seminar/*.bib
/Seminar/*.bbl
/Seminar/*.aux
/Seminar/*.txss